p{
    width: 100px;
    height: 100px;
    background: greenyellow;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.box{
    width: 100px;
    height: 100px;
}
div{
    font-size: 20px;
    list-style-type: none;
}